body {
	margin: 0;
}

use.red {
	fill: #d63333;
}

use.yellow {
	fill: #e4eb65;
}

use.green {
	fill: #66b766;
}

use.blue {
	fill: #667ef2;
}

use.orange {
	fill: #e97a1f;
}

use.cyan {
	fill: #65daeb;
}

use.purple {
	fill: #8d3872;
}

use.black {
	fill: #000000;
}
